@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  font-size: 1.2rem;
  line-height: 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;

  background-color: vars.$basic-green;
  border: none;

  transition: 0.2s;

  &:focus,
  &:hover {
    background-color: vars.$dark-green;
  }
  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}
