.sprite {
	display: inline-block;
	fill: currentColor;
}

.sprite__HTMLAcademy_logo_footer {
  // my code
	width:(26.9px);
  height:(34.1px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(34.1/10)*1rem;
	// width:(26.9/34.1)*1em;
}
.sprite__hamburger_close {
  // my code
	width:(18px);
  height:(18px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(18/10)*1rem;
	// width:(18/18)*1em;
}
.sprite__hamburger_open {
  // my code
	width:(24px);
  height:(18px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(18/10)*1rem;
	// width:(24/18)*1em;
}
.sprite__icon_facebook {
  // my code
	width:(13.5px);
  height:(27.8px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(27.8/10)*1rem;
	// width:(13.5/27.8)*1em;
}
.sprite__icon_facebook_mobile {
  // my code
	width:(10px);
  height:(19px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(19/10)*1rem;
	// width:(10/19)*1em;
}
.sprite__icon_instagram {
  // my code
	width:(23px);
  height:(23px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(23/10)*1rem;
	// width:(23/23)*1em;
}
.sprite__icon_instagram_mobile {
  // my code
	width:(16px);
  height:(16px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(16/10)*1rem;
	// width:(16/16)*1em;
}
.sprite__icon_vk {
  // my code
	width:(30px);
  height:(15.8px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(15.8/10)*1rem;
	// width:(30/15.8)*1em;
}
.sprite__icon_vk_mobile {
  // my code
	width:(22px);
  height:(12px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(12/10)*1rem;
	// width:(22/12)*1em;
}
