.sprite {
	display: inline-block;
	fill: currentColor;
}

.sprite__HTMLAcademy_logo_footer {
  // my code
	width:(26.9);
  height:(34.1);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(34.1/10)*1rem;
	// width:(26.9/34.1)*1em;
}
.sprite__icon_arrow_right {
  // my code
	width:(24.2);
  height:(11);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(11/10)*1rem;
	// width:(24.2/11)*1em;
}
.sprite__icon_facebook {
  // my code
	width:(13.5);
  height:(27.8);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(27.8/10)*1rem;
	// width:(13.5/27.8)*1em;
}
.sprite__icon_facebook_mobile {
  // my code
	width:(10);
  height:(19);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(19/10)*1rem;
	// width:(10/19)*1em;
}
.sprite__icon_instagram {
  // my code
	width:(23);
  height:(23);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(23/10)*1rem;
	// width:(23/23)*1em;
}
.sprite__icon_instagram_mobile {
  // my code
	width:(16);
  height:(16);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(16/10)*1rem;
	// width:(16/16)*1em;
}
.sprite__icon_vk {
  // my code
	width:(30);
  height:(15.8);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(15.8/10)*1rem;
	// width:(30/15.8)*1em;
}
.sprite__icon_vk_mobile {
  // my code
	width:(22);
  height:(12);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:(12/10)*1rem;
	// width:(22/12)*1em;
}
