@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__social {
  margin-top: 37px;
}

@media (min-width: vars.$tablet-width) {
  .page-footer__social {
    margin-top: 0;
  }

  .footer-social__main-page-link-img {
    margin: 0;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-footer__social {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
