//- mixin for using SVG's from SVG-sprite
mixin svgSpriteIcon(name, width, height, BEMclass, title)
  svg(class="sprite sprite__" + name + " " + BEMclass, width=width, height=height)
    title= title
    use(href="img/sprite/sprite.svg#" + name)

//- to use this mixin in your .pug's insert next line with correct params:
//- +svgSpriteIcon(name, width, height, BEMclass, title)

//- IMPORTANT - always provide 'title' parameter to make these icons accessible
