@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.catalog__wrapper {
}

.catalog__list {
  @include mixins.reset-list;

  display: grid;
  grid-template-columns: 1fr;
}

.catalog__item {
  position: relative;
  display: grid;
  grid-template-areas:
    'img title'
    'img table'
    'btn btn';
  grid-template-rows: 69px 75px 45px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 1px;

    content: '';

    background-color: #ededed;
  }

  &--hidden {
    display: none;
  }
}

.catalog__item-name {
  grid-area: title;

  width: 30vw;

  padding-top: 25px;
  margin: 0;

  font-size: 1rem;
  line-height: 1.25em;
  text-transform: uppercase;
}

.catalog__item-image-container {
  display: flex;
  grid-area: img;
  align-items: center;
  justify-content: center;
}

.catalog__item-image {
  z-index: -1;

  width: 140px;
  height: 144px;
}

.catalog__item-table {
  grid-area: table;
  padding-top: 5px;
  padding-right: 20px;

  font-family: 'Arial', sans-serif;
  font-size: 0.75rem;
  line-height: 1.3em;

  border-spacing: 0;
}

.catalog__table-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.catalog__table-cell {
  padding: 0;
}

.catalog__table-cell--value {
  text-align: right;
}

.catalog__button-wrapper {
  grid-area: btn;
  padding: 0 20px;
}

.catalog__button {
  width: 100%;
  padding: 13px 10px;
  margin: 0 auto;

  font-size: 1rem;
}

.catalog__item--expand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog__item-expand-outline-container {
  width: 100%;
}

.catalog__expand-button {
  width: 100%;

  padding: 0 20px;
  padding-top: 30px;

  cursor: pointer;

  background-color: transparent;
  border: 0;

  &:hover,
  &:focus {
    .catalog__btn-expand {
      background-color: #ebebeb;
      transition: 0.2s;
    }
    .catalog__expand-svg {
      fill: #ccc;
      transition: 0.2s;
    }
  }
  &:active {
    .catalog__expand-svg,
    .catalog__btn-expand {
      opacity: 0.4;
    }
  }
}

.catalog__expand-svg {
  margin-bottom: 20px;
  fill: #d3d3d3;
}

.catalog__expand-heading {
  position: relative;
  display: block;
  padding-bottom: 11px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3em;
  text-transform: uppercase;
}

.catalog__expand-text {
  padding-bottom: 18px;
  margin: 0;

  font-family: 'Arial', sans-serif;
  font-size: 0.75rem;
  line-height: 1.3em;
}

.catalog__btn-expand {
  display: block;

  padding: 11px 0;

  font-size: 1rem;
  line-height: 1.3em;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

@media (min-width: 560px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr;
  }

  .catalog__item-name {
    width: 15vw;
  }

  .catalog__item-image-container {
    min-width: 140px;
  }
}

@media (min-width: vars.$tablet-width) {
  .catalog__list {
    row-gap: 55px;
    column-gap: 60px;
    margin-top: 50px;
  }

  .catalog__item {
    grid-template-areas:
      'img'
      'title'
      'table'
      'btn';
    grid-template-rows: 215px 75px 122px 105px;
    grid-template-columns: 1fr;

    padding-bottom: 0;

    background-image: linear-gradient(#fff 17%, #f2f2f2 0%);

    &::after {
      content: none;
    }
  }

  .catalog__item-image-container {
    align-items: flex-end;
  }

  .catalog__item-image {
    z-index: 0;

    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 300px;
  }

  .catalog__item-name-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  .catalog__item-name {
    width: 150px;
    padding-top: 0;

    font-size: 20px;
    line-height: 1em;
    text-align: center;
  }

  .catalog__item-table {
    padding: 25px 5vw;
    font-size: 16px;
    line-height: 1em;
  }

  .catalog__table-row {
    position: relative;
    margin-bottom: 11px;

    &::after {
      position: absolute;
      bottom: -3px;

      width: 100%;
      height: 1px;

      content: '';

      background-color: #cdcdcd;
    }
  }

  .catalog__button-wrapper {
    padding: 0 5vw;
    padding-top: 25px;
  }

  .catalog__item--expand {
    display: block;
    padding-top: 88px;

    background-image: none;
  }

  .catalog__item-expand-outline-container {
    height: 100%;

    outline: 1px solid #e6e6e6;
  }

  .catalog__expand-button {
    padding: 0;
  }

  .catalog__expand-svg {
    width: 60px;
    height: 60px;

    margin-top: 51px;
    margin-left: 2px;
  }

  .catalog__expand-heading {
    width: 165px;
    padding-top: 27px;
    margin: 0 auto;

    font-size: 1.25rem;
    line-height: 1.2em;
  }

  .catalog__expand-text {
    width: 180px;

    margin: 0 auto;
    margin-top: 5px;

    font-size: 1rem;
    line-height: 1.2em;
  }

  .catalog__btn-expand {
    margin: 0 5vw;
    margin-top: 67px;

    margin-bottom: 40px;
  }
}

@media (min-width: vars.$desktop-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }

  .catalog__item-table {
    padding-right: 32px;
    padding-left: 32px;
  }

  .catalog__button-wrapper {
    padding: 25px 32px;
  }

  .catalog__expand-text {
    margin-top: 10px;
  }

  .catalog__btn-expand {
    margin: 0 32px;
    margin-top: 65px;
    margin-bottom: 35px;
  }
}
