@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.comparison {
  background-color: #f2f2f2;
}

.comparison__wrapper {
}

.comparison__title {
  padding: 0 20px;
  padding-top: 15px;
  margin: 0;

  font-size: 36px;
  line-height: 1.68em;
}

.comparison__text {
  padding: 0 20px;
  padding-top: 25px;
  margin: 0;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.comparison__stats-list {
  @include mixins.reset-list;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;

  padding: 0 20px;
  padding-top: 25px;
}

.comparison__stats-item {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.comparison__stats-big-text {
  display: block;

  padding-top: 12px;

  font-size: 24px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.comparison__stats-text {
  position: relative;
  top: 10px;

  display: block;
  width: 88px;

  margin: 0 auto;

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1em;
  text-align: center;

  background-color: #f2f2f2;
}

.comparison__cost {
  padding-top: 28px;
  margin: 0;

  font-size: 0.875rem;
  line-height: 1.4em;
  text-align: center;
  text-transform: uppercase;
}

.comparison__img {
  display: block;
  min-height: 290px;
  padding-top: 43px;
  margin: 0 auto;
}

.comparison__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 215px;

  padding-top: 8px;
  padding-bottom: 36px;
  margin: 0 auto;
}

.comparison__button {
  position: relative;

  padding: 10px;
  margin: 0;

  font-size: 1rem;
  line-height: 1.2em;
  text-transform: uppercase;
  border: none;
}

.comparison__button-indicator-before {
  &::before {
    position: absolute;
    top: 17px;
    left: 72px;
    z-index: 1;

    width: 35px;
    height: 6px;

    content: '';

    background-color: vars.$basic-green;
    border-radius: 5px;
    outline: none;
  }
}

.comparison__button-indicator-after {
  &::before {
    position: absolute;
    top: 17px;
    right: 72px;
    z-index: 1;

    width: 35px;
    height: 6px;

    content: '';

    background-color: vars.$basic-green;
    border-radius: 5px;
    outline: none;
  }
}

.comparison__slider-background {
  position: absolute;
  top: 21px;
  left: 66px;

  display: block;
  width: 84px;
  height: 14px;

  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.comparison__range-input {
  display: none;
}

@media (min-width: vars.$tablet-width) {
  .comparison {
    background-color: #fff;
  }

  .comparison__wrapper {
    padding: 0;
  }

  .comparison__title {
    padding-top: 18px;
    padding-left: 0;

    font-size: 3.75rem;
    font-weight: 400;
    line-height: 1em;
  }

  .comparison__text {
    padding-top: 65px;
    padding-left: 0;

    font-size: 1rem;
    line-height: 1.5em;
  }

  .comparison__stats-list {
    grid-template-columns: 161px 161px;
    column-gap: 43px;

    padding-top: 52px;
    padding-left: 0;
  }

  .comparison__stats-big-text {
    font-size: 1.875rem;
    line-height: 1.24em;
  }

  .comparison__stats-text {
    top: 7px;
    width: auto;

    padding-top: 7px;

    font-size: 0.875rem;
    background-color: #fff;

    & > br {
      display: none;
    }
  }

  // correcting sizes of the bottom borders
  .comparison__stats-item:nth-child(1) > .comparison__stats-text {
    margin: 0 23px;
  }
  .comparison__stats-item:nth-child(2) > .comparison__stats-text {
    margin: 0 10px;
  }

  .comparison__cost {
    padding-top: 0;
    margin-top: -65px;

    font-size: 1.25rem;
    line-height: 1.4em;
    text-align: right;
  }

  .comparison__cost-price {
    display: block;
  }

  .comparison__slider-container {
    margin-top: 70px;
    background-image: linear-gradient(#fff 30.3%, #f2f2f2 0%);
  }

  .comparison__img-container {
    min-height: 560px;
  }

  .comparison__img--before {
    width: 677px;
  }

  .comparison__img--after {
    width: 545px;
  }

  .comparison__controls {
    width: 225px;
  }

  .comparison__slider-background {
    top: 24px;
    width: 88px;
  }

  .comparison__button {
    font-size: 1.25rem;
    background-color: #f2f2f2;
  }

  .comparison__button-indicator-before {
    &::before {
      top: 20px;
    }
  }
  .comparison__button-indicator-after {
    &::before {
      top: 20px;
      right: 77px;
    }
  }
}

@media (min-width: vars.$desktop-width) {
  // make block take full width of the screen to "fill" the background with color
  .comparison {
    grid-column: 1 / 4;

    background-image: linear-gradient(#fff 26.5%, #f2f2f2 0%);
  }

  .comparison__title {
    width: 1220px;
    margin: 0 auto;
  }

  .comparison__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1440px;
    padding: 0 110px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-top: 75px;
  }

  .comparison__text {
    max-width: 455px;
    padding-top: 70px;

    font-size: 16px;
    line-height: 1.5em;
  }

  .comparison__stats-list {
    padding-top: 68px;
  }

  .comparison__stats-big-text {
    padding-top: 15px;
  }

  .comparison__stats-text {
    padding-top: 4px;
    background-color: #f2f2f2;
  }

  .comparison__cost {
    margin: 0;
    margin-top: 60px;

    line-height: 1em;
    text-align: left;
  }

  .comparison__cost-price {
    display: inline-block;
    padding-left: 58px;
  }

  .comparison__slider-container {
    width: 700px;
    margin-top: -175px;
    background-image: none;
  }

  .comparison__img-container {
    min-height: 520px;
  }

  .comparison__controls {
    padding-bottom: 23px;
    margin-left: 280px;
  }

  .comparison__img {
    padding: 0;
    margin: 0;

    &--before {
      margin-left: 50px;
    }
    &--after {
      margin-left: 140px;
    }
  }
}
