@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-main {
}

.page-main__wrapper {
  display: grid;
  grid-template-columns:
    1fr
    clamp(320px, 100%, 680px)
    1fr;

  // place all elements inside this wrapper in the second column
  & > * {
    grid-column: 2;
  }
}

.page-main__services {
  margin-top: 22px;
}

.page-main__comparison {
  margin-top: 47px;
}

@media (min-width: vars.$tablet-width) {
  .page-main__wrapper {
    grid-template-columns:
      1fr
      clamp(708px, 80%, 1000px)
      1fr;
  }

  .page-main__main-info {
    margin-bottom: 505px;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-main__wrapper {
    grid-template-columns:
      1fr
      1215px
      1fr;
  }

  .page-main__main-info {
    margin-bottom: 250px;
  }
}
