@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  min-height: 66px;

  padding: 0 20px;
}
.page-header__logo-link {
  &:hover,
  &:focus {
    opacity: 0.85;
  }
  &:active {
    opacity: 0.5;
  }
}

@media (max-width: vars.$mobile-width-only) {
  .page-header {
    cursor: pointer;
  }

  .page-header__logo-mobile-only {
    &:hover,
    &:focus {
      opacity: 0.85;
    }
    &:active {
      opacity: 0.5;
    }
  }

  .page-header__nav-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
    &:active {
      opacity: 0.5;
    }

    .page-header__hamburger {
      color: #000;
    }
  }
}

@media (min-width: vars.$tablet-width) {
  .page-header__wrapper {
    padding: 20px 2.5%;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }

  .page-header__logo-link {
    padding-left: 1.5%;
    margin-right: 12.5%;
  }

  .page-header__logo-link-mobile-only,
  .page-header__logo-mobile-only,
  .page-header__nav-toggle {
    display: none;
  }

  .page-header__main-nav {
    flex: 7 1 auto;
    max-width: 500px;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-header {
    position: initial;
    border: none;
  }

  .page-header__wrapper {
    max-width: 1440px;
    padding: 50px 40px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }

  .page-header__logo-link {
    margin-right: 540px;
    margin-left: 50px;
  }

  .page-header__main-nav {
    max-width: none;
  }
}
