@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.services__wrapper {
  padding: 0 20px;
}

.services__list {
  @include mixins.reset-list;
}

.services__item {
  margin-bottom: 20px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }
}

.services__title {
  position: relative;
  padding-top: 30px;
  padding-left: 92px;
  margin: 0;

  font-size: 1.5rem;
  line-height: 2.3125rem;
  text-transform: uppercase;

  // green background
  &::before {
    position: absolute;
    top: 25px;
    left: 23px;

    width: 50px;
    height: 50px;

    content: '';
    background-color: vars.$basic-green;
    border-radius: 100%;
  }

  // cat image basic styles
  &::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
  }
}

// cat image
.services__title--slim::after {
  top: 22px;
  left: 26px;

  width: 43px;
  height: 53px;

  background-image: url('../img/background_svg/icon_cat_sitting.svg');
  background-size: 42px 50px;
  transform: scaleX(-1);
}

// cat image
.services__title--mass::after {
  top: 22px;
  left: 12px;

  width: 71px;
  height: 45px;

  background-image: url('../img/background_svg/icon_cat_walking.svg');
  background-size: 70px 60px;
}

.services__text {
  position: relative;
  padding: 30px 20px;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;

  // gray underline
  &::after {
    position: absolute;
    right: 20px;
    bottom: 8px;
    left: 20px;

    height: 1px;

    content: '';

    background-color: #d9d9d9;
  }
}

.services__link {
  position: relative;
  display: block;

  max-width: 300px;

  padding-top: 10px;
  padding-bottom: 23px;
  padding-left: 20px;

  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;

  // arrow icon
  &::after {
    position: absolute;
    top: 13px;
    left: 117px;

    width: 24px;
    height: 11px;
    content: '';

    background-image: url('../img/background_svg/arrow_short.svg');
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 33px;
    background-image: url('../img/background_svg/arrow_long.svg');
  }

  &:active {
    opacity: 0.7;
  }
}

@media (min-width: vars.$tablet-width) {
  .services__wrapper {
    padding: 0;
  }

  .services__item {
    margin-bottom: 30px;
  }

  .services__title {
    padding-top: 75px;
    padding-left: 7.5%;

    font-size: 2.25rem;
    line-height: 2.3125rem;

    // green background
    &::before {
      top: 91px;
      left: 63%;

      width: 200px;
      height: 200px;
    }
  }

  .services__title--slim::after {
    top: 84px;
    left: calc(63% + 30px);

    width: 140px;
    height: 194px;

    background-image: url('../img/background_svg/icon_cat_sitting_tablet.svg');
    background-size: 140px 194px;
    transform: none;
  }

  // cat image
  .services__title--mass::after {
    top: 135px;
    left: calc(63% - 34px);

    width: 268px;
    height: 112px;

    background-image: url('../img/background_svg/icon_cat_walking_tablet.svg');
    background-size: 268px 112px;
  }

  .services__text {
    max-width: max(450px, 60%);
    padding-right: 60px;
    padding-left: 7.5%;

    font-size: 1rem;
    line-height: 1.46em;

    // hide underline
    &::after {
      content: none;
    }
  }

  .services__link {
    padding-top: 26px;
    padding-bottom: 63px;
    padding-left: 7.5%;

    font-size: 1.25rem;
    line-height: 1em;

    // arrow icon
    &::after {
      top: 31px;
      left: calc(7.5% + 180px);
    }
  }
}

@media (min-width: vars.$desktop-width) {
  .services__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__item {
    max-width: 570px;
    min-height: 372px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .services__title {
    padding-left: 204px;
    // round green background
    &::before {
      top: 45px;
      left: 40px;

      width: 100px;
      height: 100px;
    }
  }

  .services__title--slim::after {
    top: 38px;
    left: 50px;

    width: 80px;
    height: 100px;

    background-image: url('../img/background_svg/icon_cat_sitting.svg');
    background-size: 80px 100px;
    transform: scaleX(-1);
  }

  .services__title--mass::after {
    top: 30px;
    left: 8px;

    width: 170px;
    height: 130px;

    background-image: url('../img/background_svg/icon_cat_walking.svg');
    background-size: 170px 130px;
  }

  .services__text {
    max-width: none;

    padding-top: 73px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-right: 0;
    line-height: 1.5em;
  }

  .services__link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
