extends global/layout

block vars
  - var js_page_id = "js-catalogPage";
  - var page_title = "Каталог продукции";
  - var page_decription = "Cat Enegry - функциональное питание для котов. Каталог продукции";
  - var page_keywords = "Cat Enegry, питание для котов, похудение, похудение для котов, каталог продукции";

block header
  +pageHeader(js_page_id)

block content
  main.page-main
    .page-main__wrapper
      .page-main__title-wrapper
        h1.page-main__title
          | Каталог продукции

      section.page-main__catalog.catalog
        .catalog__wrapper
          h2.visually-hidden Список продукции
          ul.catalog__list
            +catalogItem(1, 'Pro 500 г', 500, 'Курица', 700)
            +catalogItem(2, 'Pro 1000 г', 1000, 'Курица', 1000)
            +catalogItem(3, 'Pro 500 г', 500, 'Рыба', 700)
            +catalogItem(4, 'Pro 1000 г', 1000, 'Рыба', 1000, true)
            +catalogItem(5, 'Slim 500 г', 500, 'Гречка', 400, true)
            +catalogItem(6, 'Slim 1000 г', 1000, 'Гречка', 700, true)
            +catalogItem(7, 'Slim 500 г', 500, 'Рис', 500, true)
            +catalogItem(1, 'Pro 500 г', 500, 'Курица', 700, true)
            +catalogItem(2, 'Pro 1000 г', 1000, 'Курица', 1000, true)
            +catalogItem(3, 'Pro 500 г', 500, 'Рыба', 700, true)
            +catalogItem(4, 'Pro 1000 г', 1000, 'Рыба', 1000, true)
            li.catalog__item.catalog__item--expand
              .catalog__item-expand-outline-container
                button.catalog__expand-button(type='button')
                  +svgSpriteIcon('expand_all', 30, 30, 'catalog__expand-svg', 'показать все товары')
                  b.catalog__expand-heading
                    | Показать ещё 100500 товаров
                  p.catalog__expand-text
                    | На самом деле вкусов гораздо больше!
                  span.catalog__btn-expand
                    | Показать все

      section.page-main__additional-items.additional-items
        .additional-items__wrapper
          .additional-items__title-container
            h2.additional-items__title
              | Дополнительные товары
          ul.additional-items__list
            +additionalItem('Сахарозаменитель', '1 упаковка (100 г)', 100)
            +additionalItem('Питьевая вода', '5 литров', 50)
            +additionalItem('Молоко', '1 литр', 100)
            +additionalItem('Витамины', '1 упаковка (30 г)', 300)
            //- +additionalItem('Игрушка-дразнилка', '1 шт.', 350)

          .additonal-items__advert-container
            a.additonal-items__advert-link(href='#')
              +svgSpriteIcon('icon_present', 55, 60, 'additional-items__advert-svg-icon', 'Изображение подарка')
              p.additional-items__advert-text
                | Закажите всё и получите чехол для кота в подарок!

block footer
  +pageFooter(js_page_id)
