@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;

  transition: all 0.5s;

  &--scroll-down {
    transform: translate3d(0, -100%, 0);
  }

  &--scroll-up {
    transform: none;
  }
}

.page-header__wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  max-width: 720px;
  min-height: 66px;

  padding: 0 20px;
  padding-top: 3px;
  margin: 0 auto;
}
.page-header__logo-link {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.85;
  }
  &:active {
    opacity: 0.5;
  }
}

@media (max-width: vars.$mobile-width-only) {
  .page-header {
    cursor: pointer;
  }

  .page-header__logo-mobile-only {
    &:hover,
    &:focus {
      opacity: 0.85;
    }
    &:active {
      opacity: 0.5;
    }
  }

  .page-header__nav-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
    &:active {
      opacity: 0.5;
    }

    .page-header__hamburger {
      color: #000;
    }
  }
}

@media (min-width: vars.$tablet-width) {
  .page-header__wrapper {
    max-width: 1100px;
    padding: 20px 3vw;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }

  .page-header__logo-link {
    padding-left: 1.5%;
    margin-right: 12.5%;

    transition: 0.1s;
  }

  .page-header__logo-link-mobile-only,
  .page-header__logo-mobile-only,
  .page-header__nav-toggle {
    display: none;
  }

  .page-header__main-nav {
    flex: 7 1 auto;
    max-width: 500px;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-header {
    border: none;

    &--index-page {
      color: #fff;
      background-color: transparent;

      & .main-nav__item--current-page .main-nav__link::after {
        background-color: #fff;
      }
    }

    &--scroll-up {
      color: #000;
      background-color: #fff;
      border-bottom: 1px solid #e6e6e6;

      transform: none;

      & .page-header__wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      & .main-nav__item--current-page .main-nav__link::after {
        background-color: vars.$basic-green;
      }
    }
  }

  .page-header__wrapper {
    max-width: 1440px;
    padding: 50px 40px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }

  .page-header__logo-link {
    margin-right: 540px;
    margin-left: 50px;
  }

  .page-header__main-nav {
    max-width: none;
  }
}
